.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px 10px;
  gap: 20px;

  &__logo {
    height: 39px;
  }

  &__text {
    font-size: 24px;

    .break {
      display: inline;
    }
  }
}

/* Tablet ≤ 1024px */
@media (max-width: 1024px) {
  .footer {
    padding: 60px 16px 10px;
    gap: 16px;

    &__logo {
      height: 28px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

/* Mobile ≤ 640px */
@media (max-width: 640px) {
  .footer {
    padding: 60px 12px;
    gap: 12px;
    margin-top: -10px;

    &__logo {
      height: 35px;
      margin-bottom: -15px;
    }

    &__text {
      font-size: 12px;

      .break {
        display: block;
      }
    }
  }
}
