.header {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;

  &__logo {
    height: 68px;
  }

  &__nav {
    display: flex;
    gap: 40px;

    a {
      text-decoration: none;
      color: black;
      font-size: 24px;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

/* Tablet ≤ 1024px */
@media (max-width: 1024px) {
  .header {
    padding: 24px 48px;

    &__logo {
      height: 40px;
    }

    &__nav {
      gap: 24px;

      a {
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}

/* Mobile ≤ 640px */
@media (max-width: 640px) {
  .header {
    padding: 16px 20px;

    &__logo {
      height: 28px;
    }

    &__nav {
      gap: 16px;

      a {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}
