.about {
  &__banner {
    margin: 20px 100px;
    border-radius: 15px;
    overflow: hidden;

    &-img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      filter: brightness(80%);
    }
  }

  &__content {
    margin: 40px 100px;
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .about {
    &__banner {
      margin: 16px 60px;

      &-img {
        height: 160px;
      }
    }

    &__content {
      margin: 32px 60px;
    }
  }
}

@media (max-width: 640px) {
  .about {
    &__banner {
      margin: 12px 16px;

      &-img {
        height: 140px;
      }
    }

    &__content {
      margin: 20px 16px;
    }
  }
}