.about {
  max-width: 1440px;
  margin: auto;

  &__banner {
    margin: 20px 100px;
    border-radius: 15px;
    overflow: hidden;

    &-img {
      display: block;
      width: 100%;
      height: 200px;
      object-fit: cover;
      filter: brightness(80%);
    }
  }

  &__content {
    margin: 40px auto;
    width: 70%;

    .collapse {
      &__header {
        border-radius: 5px;
      }

      .collapse__title {
        font-size: 24px;
        line-height: 1.6;
      }
    }
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .about {
    &__banner {
      margin: 16px 60px;

      &-img {
        height: 160px;
      }
    }

    &__content {
      margin: 32px auto;
      width: 75%;
    }
  }
}

@media (max-width: 640px) {
  .about {
    &__banner {
      margin: 12px 16px;

      &-img {
        height: 140px;
      }
    }

    &__content {
      margin: 20px auto;
      width: 90%;

      .collapse {
        &__header {
          padding: 5px;
          margin-bottom: 15px;
        }
        .collapse__title {
          font-size: 13px;
        }
      }
    }
  }
}
