.logement {
  max-width: 1250px;
  margin: auto;

  &__top {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    align-items: start;
    margin-top: 24px;
  }

  &__title {
    font-size: 36px;
    color: #ff6060;
    margin: 0 0 8px 0;
  }

  &__location {
    font-size: 18px;
    margin: 0 0 16px 0;
    color: #000;
    font-weight: 500;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .tag {
      background: #ff6060;
      color: #fff;
      padding: 6px 20px;
      border-radius: 8px;
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__right {
    display: grid;
    gap: 16px;
    justify-items: end;
  }

  .host {
    display: flex;
    align-items: center;
    gap: 12px;

    &__name {
      display: flex;
      flex-direction: column;
      text-align: right;
      color: #ff6060;
      font-weight: 600;
      max-width: 120px;
      line-height: 1.2;
      font-size: 18px;
    }

    &__avatar {
      width: 64px;
      height: 64px;
      border-radius: 999px;
      background: #cfcfcf;
    }
  }

  .rating {
    display: flex;
    gap: 6px;

    .star {
      color: #e3e3e3;

      svg {
        width: 36px;
        height: 36px;
        display: block;
      }
      
      &.is-on {
        color: #ff6060;
      }
    }
  }

  &__collapses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 5px;

    .equip-list {
      list-style: none;
      padding-left: 0;
      margin: 0;
      li {
        margin: 4px 0;
      }
    }
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .logement {
    margin: 20px 60px;

    &__title {
      font-size: 28px;
    }
    .host__avatar {
      width: 44px;
      height: 44px;
    }
    .rating .star {
      font-size: 20px;
    }
  }
}

@media (max-width: 640px) {
  .logement {
    margin: 16px;

    &__top {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    &__right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .host {
      order: 2;
    }

    .rating {
      order: 1;
      gap: 2px;

      .star svg {
        width: 18px;
        height: 18px;
      }
    }

    &__title {
      font-size: 22px;
    }

    &__tags {
      .tag {
        font-size: 8px;
      }
    }

    &__collapses {
      grid-template-columns: 1fr;
      gap: 5px;
    }

    .host__name {
      max-width: none;
    }

    .host__avatar {
      width: 40px;
      height: 40px;
    }
  }
}